
<div class="nav-bar">
    <h1>Cocktails'Arts</h1>
    <p><i class="fas fa-bars"></i></p>
</div>

<div class="banner">
  <h1>Art of Cocktails</h1>
  <p>The best cocktail for you and only you.</p>
  <%= link_to 'Create a new cocktail', new_cocktail_path, class: "btn-gradient" %>
</div>

<div class="test">
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
        <div class="card-product">
          <div class="card-product-infos">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "btn-gradient" %></h2>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

</div>
