
<div class="nav-bar">
  <h1>Cocktails'Arts</h1>

  <i><i class="fas fa-bars"></i></i>
</div>

<div class="banner">
  <img src="../assets/images/banner_img.jpg" alt="banner" id="banner-img">

  <h2>Art of Cocktails</h2>
</div>

<div class="container">
  <ul>
    <% @cocktails.each do |cocktail| %>
      <div class="card-item">
        <li>
          <img src="" alt="img_cocktail" class="img-cocktail-card">
          <h3><%= cocktail.name %></h3>
          <p><%= cocktail. %></p>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </li>
      </div>
    <% end %>
  </ul>
</div>


<%= link_to 'Create a new cocktail', new_cocktail_path %>
