// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "navbar";
@import "container";
@import "banner";
@import "card_item";

ul{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
}

li{
  height: 400px;
  width: 500px;
}

